<article class="main">
	
	<div class="article-head">
		<div class="article-img">
			<a href="article">{{ "365x197" | placeholder | image_tag }}</a>
		</div>
		<div class="date">
			<span class="day">29</span> 
			<span class="month">Abr</span>
		</div>
	</div>
	
	<section class="article-text">
	<h5>Finanzas</h5>
	<header>
		<h4 class="subheader no-margin"><a href="article">6 ideas anticuadas, y actualizadas, sobre el dinero</a></h4>
	</header>
	<p class="small">No importa cuánto ganen, algunas personas se endeudas, mientras otras, por más modestos sean sus ingresos, no. ¿Por qué?</p>
	</section>
</article>