
<div class="row">
	<div class="one columns">
		<div class="date hide-for-small">
			<span class="day">29</span> 
			<span class="month">Abr</span>
		</div>
	</div>
	<div class="eleven columns">
		<article class="main recommend">
			<div class="row">
				<div class="five columns">
					<div class="article-head">
						<div class="article-img">
							<a href="article">{{ "365x197" | placeholder | image_tag }}</a>
						</div>
					</div>
				</div>
				
				<div class="seven columns">
					<section class="article-text">
					<header>
						<h5 class="no-margin"><a href="article">6 ideas anticuadas, y actualizadas, sobre el dinero</a></h5>
					</header>
					<p class="x-small">No importa cuánto ganen, algunas personas se endeudas, mientras otras, por más modestos sean sus ingresos, no. ¿Por qué?</p>
					</section>
				</div>
			</div>
		</article>
	</div>
</div>