<div class="row inner-header">
	<div class="four columns">
		<header><h3 class="subheader no-margin"><a href="blog">Blog</a></h3></header>
	</div> 
	<div class="eight columns">
		<dl class="sub-nav right category">
		  <dt><em>Categorías:</em></dt>
		  <dd {% if mixture.url == "blog" %}class="active"{% endif %} ><a href="#">Todos</a></dd>
		  {% for item in global.categories %}
		  <dd><a href="#">{{ item.category }}</a></dd>
		  {% endfor %}
		</dl>
	</div>
</div>