<div class="search-blog">
	<input type="search" name="" value="" placeholder="Buscar artículos" />
</div>

<div class="follow clearfix">
	<h3 class="aside-title uppercase">Síguenos</h3>
	<div class="facebook"><a href="http://www.facebook.com/RocketColombia" title="Fanpage Rocket" target="_blank"><span class="whitetxt" aria-hidden="true" data-icon="."></span></a></div>
				
	<div class="twitter"><a href="https://twitter.com/RocketColombia" title="twitter Rocket" target="_blank"><span class="whitetxt" aria-hidden="true" data-icon=","></span></a></div>
	
	<div class="linkedin"><a href="http://www.linkedin.com/company/rocket-colombia" title="linkedin Rocket" target="_blank"><span class="whitetxt" aria-hidden="true" data-icon="&#x34;"></span></a></div>
</div>

<div class="more-read">
	<h3 class="aside-title uppercase">Artículos más leídos</h3>
	<ul class="list-article">
		<li>
			<h5>ABR 29 / <strong>METAS</strong></h5>
			<h4><a href="http://">8 características de las personas sin deudas</a></h4> 
		</li>
		<li>
			<h5>ABR 29 / <strong>METAS</strong></h5>
			<h4><a href="http://">8 características de las personas sin deudas</a></h4> 
		</li>
		<li>
			<h5>ABR 29 / <strong>METAS</strong></h5>
			<h4><a href="http://">8 características de las personas sin deudas</a></h4> 
		</li>
		<li>
			<h5>ABR 29 / <strong>METAS</strong></h5>
			<h4><a href="http://">8 características de las personas sin deudas</a></h4> 
		</li>
	</ul>
</div>

<div class="tips">
	<h3 class="aside-title uppercase">Consejos exclusivos</h3>
	<p class="small">Suscríbete a nuestra lista de correos y recibirás semanalmente los nuevos artículos de ROCKET. ¡También es gratis!</p>
	<div id="mc_embed_signup">
	<form action="http://rocket.us4.list-manage.com/subscribe/post?u=b1e5b4fabc880e321bc5fcd3e&amp;id=dbeb73e7a4" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
	<label>Correo electrónico</label>
	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Tu correo electrónico" required>
	<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe">
	<p class="x-small">Tampoco nos gusta el SPAM y te prometemos no compartir tu información con nadie.</p>
	</form>
	</div>
</div>


