<p>Mientras nuestros bisabuelos juntaban sus ahorros en alcancías, ahora tenemos un sistema de ahorro más sofisticado y diverso.</p>
 
<p>Si los tiempos cambiaron, es hora de que esas ideas convencionales sobre el dinero acompañen ese cambio también.</p>
 
<p>Te mostramos algunas ideas y valores anticuados relacionados con el dinero que pueden repensarse un poquito para que tengan más sentido hoy en día. Estos son algunos de estos pensamientos, refranes o reglas:</p>
 
<p>El dinero no compra la felicidad</p>
 
<p>Si, ¡verdad! (en gran parte). Hay mucha gente en el mundo con mucho dinero, pero que no son felices. Lo cierto es que cuando el dinero nos falta, nos sobran problemas. Contribuye a la desdicha familiar, trae problemas en la pareja, stress, tristeza, etc.</p>
<p>El dinero no compra nuestra felicidad, pero cuando este nos falta no nos hace felices tampoco.</p>
 
<p>HOY: Mientras que la plata no nos garantiza la felicidad, que nos falte o no sea suficiente puede hacer más difícil disfrutar la vida. Como dice la canción, “el dinero no es todo, pero cómo ayuda!”. Lo importante es cómo manejas tu dinero.</p>
 
<p>¡Podría estar peor!</p>
 
<p>Típico de aquellas personas que están en una situación financiera débil o difícil pero que no tienen la voluntad de mejorar los hábitos que lo llevaron a estar así. Si vives ajustado, es decir, mes a mes, en lugar de buscar formas de incrementar tus ingresos o reducir tus gastos, piensas “al menos tengo un sueldo”.</p>
 
<p>Esa forma de pensar te vuelve conformista y te auto-engañas pensando que está todo bien.</p>
 
<p>HOY: ¡Podría estar mejor! Siempre se puede estar mejor. No mires a tus costados para conformarte porque alguien está peor que tú. ¡Empieza hoy a cambiar tus hábitos financieros!</p>
 
<p>Una monedita ahorrada, es una monedita ganada</p>
 
<p>Este dicho se atribuye a Benjamin Franklin, pero seguramente él nunca fue a una venta de saldos o outlets. Originalmente, Franklin quiso resaltar la importancia de ahorrar dinero, pero a veces se utiliza como justificación para comprar cosas sólo porque están en oferta o con descuentos, los famosos “40% OFF”, o “lleva 2 x 1”.</p>
<p>No tienes que comprarlo sólo porque está a menor precio si no lo necesitas ya.</p>
 
<p>HOY: Si realmente quieres ahorrar, aguanta la tentación por ese par de zapatos y guarda ese dinero. Eso es una monedita ahorrada.</p>
 
<p>La mejor forma de duplicar tu dinero es plegarlo de nuevo y meterlo en tu bolsillo. Mantener el dinero en tu bolsillo o billetera puede ser una buena forma de evitar gastarlo, pero eso cuando no había otra alternativa. En estos tiempos, tu dinero puede crecer si lo ahorras y/o pones a invertir.</p>
 
<p>HOY: La mejor forma de duplicar tu dinero es invertirlo sabiamente. Asesórate bien si estás pensando en invertir tus ahorros. Busca un asesor financiero que te ayude a determinar la mejor alternativa para ti (sin quedarte con la primera opción), sean carteras colectivas o cualquier otro instrumento de inversión.</p>
 
<p>Invierta en calidad</p>
<p>Generalmente asociamos calidad, sea de ropa, tecnología, autos o lo que sea, con las marcas costosas. Pensamos que obtenemos el mejor retorno de nuestro dinero si gastamos en esas cosas de calidad. Tal vez, en décadas pasadas, había unas pocas marcas que uno podía identificar con verdadera calidad, pero en la actualidad con los avances en la tecnología y la mayor producción, hay muchas más alternativas en el mercado que son más económicas y tan efectivas como los productos más caros y de marca.</p>
 
<p>HOY: Cuando vayas a hacer una compra significativa, investiga bien sobre el producto, revisa los comentarios online de otros usuarios, y luego analiza tus opciones y si realmente vale la pena invertir ese dinero extra. La etiqueta de la marca no es tan importante como su utilidad. ¡Haz decisiones bien informado!</p>
 
<p>Paga siempre tu deuda más chica primero</p>
<p>Pagar una deuda pequeña primero puede darte confianza para seguir con el resto, tus deudas más grande, pero aunque esto suene positivo, falta un detalle esencial: los intereses.  Terminarás pagando más intereses de esta forma, y estarás dando un paso adelante y dos atrás. Los intereses corren más rápido que el tiempo en el que tu pagas la deuda más pequeña.</p>
 
<p>HOY: Si vas a pagar tus deudas, empieza por la de intereses más altos.</p>
