{% block content %}
	{% include "inner-header" %}  
  
  <div class="row">

	<div class="nine columns article">
		<div class="row">
			<div class="one columns">
			<div class="date article">
				<span class="day">29</span> 
				<span class="month">Abr</span>
			</div>
			</div>
			<div class="eleven columns">
				<article id="">
				
				
				<header>
				
				<h3 class="category-title">Finanzas</h3>
				<h1 class="no-margin">6 ideas anticuadas, y actualizadas, sobre el dinero</h1>
				<div class="entry-author">
				<div class="row">	
				
					<div class="six columns">
						<p class="autor"><a href=""><img alt="" src="http://placekitten.com/g/40/40" class="avatar" height="40" width="40"></a> Por <a href="#">Daniel Rojas</a></p>
					</div>
					<div class="six columns readtime"><p class="text-right"><strong>Tiempo de lectura:</strong> 2 mins. 48 segs</p></div>
				</div>		
				</div>
				{{ "745x365" | placeholder | image_tag }}
				
				</header>
				
				
				<div class="blog-content">
					{% include "text" %}
				</div>
				</article>
				
				<div class="row">
					<div class="twelve columns">
						<div class="tags">
						{% include "tags" %}
						</div>
					</div>
					
					<div class="twelve columns">
						<div class="social">
						{% include "social" %}
						</div>
					</div>
					
					<div class="twelve columns">
						<div class="recommend-article">
						<h5>Artículos recomendados</h5>
						{% include "article-recommend" %}
						{% include "article-recommend" %}
						</div>
					</div>
				</div>
				
			</div>
		</div>	 
	</div>

	<aside class="three columns">
		{% include "sidebar" %}		
	</aside>
  
  </div>

  <!-- End Main Content and Sidebar -->
{% endblock %}

 