{% block content %}
	{% include "inner-header" %}  
  
  <div class="row">

	<div class="nine columns">
		<div class="row">
			
			<div class="six columns">
				{% include "article-main" %}
			</div>
			
			<div class="six columns">
				{% include "article-main" %}
			</div>
			
			<div class="six columns">
				{% include "article-main" %}
			</div>
			
			<div class="six columns">
				{% include "article-main" %}
			</div>
			
			<div class="six columns">
				{% include "article-main" %}
			</div>
			
			<div class="six columns">
				{% include "article-main" %}
			</div>
			
			<div class="six columns">
				{% include "article-main" %}
			</div>
			
			<div class="six columns">
				{% include "article-main" %}
			</div>
			
		</div>
		
		<div class="row">
			<div class="twelve columns">
				{% include "pagination" %}
			</div>
		</div>
	</div>

	<aside class="three columns">
		{% include "sidebar" %}		
	</aside>
  
  </div>

  <!-- End Main Content and Sidebar -->
{% endblock %}

 