{% block content %}
	{% include "inner-header" %}  
  
  <div class="row">

	<div class="nine columns">
		<div class="row">
			
			<div class="six columns">
				<article class="main">
					
					<div class="article-img">
						{{ "365x197" | placeholder | image_tag }}
					</div>
					<section class="article-text">
					<h5 class="no-margin"><small>FINANZAS</small></h5>
					<header>
						<h4 class="subheader no-margin"><a href="#">6 ideas anticuadas, y actualizadas, sobre el dinero</a></h4>
					</header>
					<p>No importa cuánto ganen, algunas personas se endeudas, mientras otras, por más modestos sean sus ingresos, no. ¿Por qué?</p>
					</section>
				</article>
			</div>
			
		</div>
	</div>

	<aside class="three columns">
	</aside>
  
  </div>

  <!-- End Main Content and Sidebar -->
{% endblock %}

 